/*
------------------
HOME PAGE STYLING
------------------
*/

@keyframes skeletonLoading {
  0% {
    background-image: url(../images/badlands-brigade-presents.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  100% {
    
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
this isn't having any effect and I don't know why
@keyframes fadeIn {
  0% {
    background-color: black;
  }
  100% {
    background-image: url(../images/backgrounds-brigade-badlands.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
}
*/

body.home-page {
  animation: 9s skeletonLoading 1 forwards;
  -webkit-animation: 9s skeletonLoading 1 forwards;
  -moz-animation: 10s skeletonLoading 1 forwards;
  -o-animation: 9s skeletonLoading 1 forwards;
  -ms-animation: 9s skeletonLoading 1 forwards;
  background-image: url(../images/backgrounds-brigade-badlands.png);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  scrollbar-gutter: auto;
}

div.coming-soon {
  opacity: 0;
  animation: 2s fadeIn 3s 1 forwards;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin:auto;
  margin-top: 30vh;
}

h1{
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Anaheim, Arial, Helvetica, sans-serif;
  font-size: 3rem;
}
/*
div.home-page-skeleton {
  background-color: black;
  opacity: 1;
  animation: fadeOut 2s ease-out 4s 1 forwards;
}
*/