/*
------------------
HOME PAGE STYLING
------------------
*/

@keyframes skeletonLoading {
  0% {
    background-image: url(../images/project-logos/badlands-brigade-presents.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  100% {
    
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
this isn't having any effect and I don't know why
@keyframes fadeIn {
  0% {
    background-color: black;
  }
  100% {
    background-image: url(../images/backgrounds-brigade-badlands.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
}
*/

* {
  margin: 0;
  padding: 0;
}

body.home-page {
  animation: 9s skeletonLoading 1 forwards;
  -webkit-animation: 9s skeletonLoading 1 forwards;
  -moz-animation: 10s skeletonLoading 1 forwards;
  -o-animation: 9s skeletonLoading 1 forwards;
  -ms-animation: 9s skeletonLoading 1 forwards;
  background-image: url(../images/backgrounds-brigade-badlands-1200sq-crop.png);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  scrollbar-gutter: auto;
  font-family: Pixelify Sans, 'Courier New', Courier, monospace;
  text-decoration: none;
}

.home-logo { /*Bloodhounds logo + Enter button*/
  opacity: 0;
  animation: 2s fadeIn 3s 1 forwards;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  margin:auto;
  margin-top: 30vh;
}
@media (width > 60em) {
  .home-logo {
    max-width: 50vw;
  }
  body.home-page {
    background-image: url(../images/backgrounds-brigade-badlands-2250w-1080h-crop.png);
  }
}

h1 {
  font-family: Pixelify Sans, 'Courier New', Courier, monospace;
  font-size: 3rem;
  margin-top: -0.5rem;
  text-align: center;
  text-decoration: none;
  color: #F5E9E9;
  text-shadow: 1px 1px 2px black;
}

@media (width > 32em) {
  h1 {
    font-size: 5rem;
    margin-top: -1.75rem;
  }
}

a {
  color: #F5E9E9;
  text-decoration: none;
  text-shadow: black;
}

