/*
font tests:
font-family: 'Abel', sans-serif;
font-family: 'Anaheim', sans-serif;
font-family: 'Anonymous Pro', monospace;
font-family: 'Audiowide', display;
font-family: 'Pixelify Sans', display;
font-family: 'Press Start 2P', display;*/
/* 
------------------
SITE WIDE DEFAULTS
------------------
*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Anaheim, Arial, Helvetica, sans-serif;
  text-decoration: none;
  scrollbar-gutter: stable;
  scrollbar-color: #b3333e #ec5147;
}
body{
  display: flex;
  flex-flow: column;
  min-height: 100vh; 
  /*this works together with setting main{flex:1;} to create the sticky footer*/
  background-color: #ec5147;
  color: #113d52;
}

body.badlands-background{
  background-image: url(../images/backgrounds-brigade-badlands.png);
  background-position: left 62%;
  background-attachment: fixed;
}

a{
  color: #DA2C38;
}

.mobile-br {
  display: none;
}

@media (max-width: 500px) {
  body {
    font-size: 0.7rem;
  }
  article {
    padding: 0%;
    margin: 0%;
  }
  .mobile-br {
    display: inline;
  }
}

/*
-----------------
NAV DEFAULTS
-----------------
*/
header.main-nav{
  background: #ec5147; /*#0e1f27; 565473, alt colour #544E7A or 68668C*/
  padding:0.125rem;
  padding-top: 0.5rem;
  display: flex; /* keep the h1 tag on the left and the main nav on the right */
  justify-content: space-between;
  align-items: center;
  .site-logo { 
    display: flex; /*puts image and title side by side*/
    align-items: center; /*distributes them along the centre of the horizontal axis*/
    /*I couldn't figure out why using this selector wasn't working to display the logo and title side by side, until I realized that I needed to apply display: flex to the <a> element instead of the <div> since THAT'S what directly wraps the <img> and <h1> elements. I moved class="site-logo" to <a> instead of the wrapping div and that solved my problem lol*/
  }
  a {
    color: #F5E9E9;
  }
  button {
    background: none;
    border: none;
    padding: 1rem;
  }
  .main-nav-open [aria-expanded="true"]{
    + .main-nav-menu {
      translate: 0 /* When aria expanded=true, clicking the main nav open button will bring the main nav menu back on screen */
    }
  }
  .main-nav-close {
    display: block;
    margin-inline-start: auto;
    margin-inline-end: 1rem;
    margin-block-end: 8rem;
  }
  .main-nav-menu {
    @media (width < 40em) {
      background: #ec5147;      
      position: fixed;
      inset: 0;
      padding-block: 1.5rem;
      translate: 100vw, 0;
      transition: translate 0.5s ease-in-out;
    }
  }
  .main-nav-links { /* removes default list styling, styles nav-links in a row */
    list-style: none;
    display: flex; 
    gap: 1rem;
    align-items: center;
    @media (width < 40em){
      flex-direction: column;
      font-size: 2rem;
    }
  }
}

nav.sub-nav {
  padding-top: 0.5rem;
}

/*
---------------------
MAIN CONTENT DEFAULTS
---------------------
*/
main{
  flex:1; /*this is what gives the main content flex item the viewport height to push the footer to the bottom if the page content is not longer than the viewport height*/
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
}

#site-under-construction{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin:auto;
  padding: 1rem;
}
footer{
  align-self: center;
}


/*
-------------------------
BLOODHOUNDS PAGE STYLINGS
-------------------------
*/
article {
  max-width: 34rem;
  margin: 0.5rem;
  padding: 1rem;
  @media (max-width: 500px) {
    padding: 0.25rem;
  }
  background-color: #F5E9E9;
  border-radius: 10px;
}


/*
----------------------
CREDITS PAGE STYLINGS
----------------------
*/
/* headings and blurb styling */

.credits-article h2, .credits-article h3 {
  border-bottom: solid #DA2C38;
  /*background: linear-gradient(to top, #ff8d0a65, #ffffff00);
  nah I don't actually like this look*/
}

/* 
----------------------
table-specific styling 
----------------------
*/
.credits-table {
  text-align: left;
  table-layout: fixed;
  width: 100%;
  margin-left:auto;
  margin-right: auto;
  border-collapse: collapse;
}

/* table headers */
th {
  background-color: #da2c3859;
}

thead th:nth-child(1) {
  width: 25%;
  /*@media (max-width: 500px) {
    width: 22%
  }*/
}

thead th:nth-child(2) {
  width: 30%;
  /*@media (max-width: 500px) {
    width: 33%
  }*/
}

thead th:nth-child(3) {
  width: 45%;
}

#scene-artists-table thead th:nth-child(1) {
  width: 25%;
}

#scene-artists-table thead th:nth-child(2) {
  width: 30%;
}

#scene-artists-table thead th:nth-child(3) {
  width: 25%;
}
#scene-artists-table thead th:nth-child(4) {
  width: 20%;
}

/* table rows */
tr {
  border-bottom: 1px dotted #DA2C38;
}
tr.admin-role {
  background-color: #da2c3821;
}

/* desktop table styling */
@media (min-width: 800px) {
  
  .credits-table {
    text-align: left;
    table-layout: fixed;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
  }
  th {
    padding: 0.25rem;
  }
  td {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
