/*
font tests:
font-family: 'Abel', sans-serif;
font-family: 'Anaheim', sans-serif;
font-family: 'Anonymous Pro', monospace;
font-family: 'Audiowide', display;
font-family: 'Pixelify Sans', display;
font-family: 'Press Start 2P', display;*/
/* 
------------------
SITE WIDE DEFAULTS
------------------
*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Anaheim, Arial, Helvetica, sans-serif;
  text-decoration: none;
  scrollbar-gutter: stable;
  scrollbar-color: #b3333e #ec5147;
}

body{
  display: flex;
  flex-flow: column;
  min-height: 100vh; 
  /*this works together with setting main{flex:1;} to create the sticky footer*/
  background-color: #ec5147;
  color: #113d52;
}

body.badlands-background{
  background: url(../images/backgrounds-brigade-badlands.png), #ec5147;
  background-position: left 62%;
  background-attachment: fixed;
}

a{
  color: #DA2C38;
}

.mobile-br {
  display: none;
}

@media (width < 42.5em) {
  body {
    font-size: 0.7rem;
  }
  article {
    padding: 0%;
    margin: 0%;
  }
  .mobile-br {
    display: inline;
  }
}

/*
---------------------
MAIN CONTENT DEFAULTS
---------------------
*/
main{
  flex:1; /*this is what gives the main content flex item the viewport height to push the footer to the bottom if the page content is not longer than the viewport height*/
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
}

#site-under-construction{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin:auto;
  padding: 1rem;
}

footer{
  align-self: center;
}

article {
  max-width: 50rem;
  margin: 0.5rem;
  padding: 0.25rem;
  background-color: #F5E9E9;
  border-radius: 10px;
}

@media (width > 32em) {
  article {
    padding: 1rem;
  }
}

/*
----------------------
CREDITS PAGE STYLINGS
----------------------
*/
/* headings and blurb styling */

.credits-article h2, .credits-article h3 {
  border-bottom: solid #DA2C38;
  /*background: linear-gradient(to top, #ff8d0a65, #ffffff00);
  nah I don't actually like this look*/
}

/* 
----------------------
table-specific styling 
----------------------
*/
.credits-table {
  text-align: left;
  table-layout: fixed;
  width: 100%;
  margin-left:auto;
  margin-right: auto;
  border-collapse: collapse;
}

/* table headers */
th {
  background-color: #da2c3859;
  padding: 0.25rem;
}

thead th:nth-child(1) {
  width: 25%;
  /*@media (max-width: 500px) {
    width: 22%
  }*/
}

thead th:nth-child(2) {
  width: 30%;
  /*@media (max-width: 500px) {
    width: 33%
  }*/
}

thead th:nth-child(3) {
  width: 45%;
}

#scene-artists-table thead th:nth-child(1) {
  width: 25%;
}

#scene-artists-table thead th:nth-child(2) {
  width: 30%;
}

#scene-artists-table thead th:nth-child(3) {
  width: 25%;
}
#scene-artists-table thead th:nth-child(4) {
  width: 20%;
}

/* table rows */
tr {
  border-bottom: 1px dotted #DA2C38;
}
tr.admin-role {
  background-color: #da2c3821;
}

td {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

